//===============================================================
//  Framework configuration
//===============================================================
$dir-html: "'/src/Frontend/Themes/atomic/_html/build'";
$dir-css: "'/src/Frontend/Themes/atomic/assets/css'";
$dir-fonts: "'/src/Frontend/Themes/atomic/assets/fonts'";
$dir-icons: "'/src/Frontend/Themes/atomic/assets/icons'";
$dir-img: "'/src/Frontend/Themes/atomic/assets/img'";
$dir-js: "'/src/Frontend/Themes/atomic/assets/js'";

// === Enable/disable unit conversion functions ===
$-config-unitConversion: true;
// === IE8 compatibility ===
$-config-ie8: false;

// === Class and attribute names ===
$-config-prefixHelperClass: 'h-';
$-config-prefixHelperAttr: 'h-';
$-config-suffixResponsive: \@;
$-config-suffixResponsiveFrom: \@from-;

// === Responsive design helper ===
$-config-mobileFirst: false; // True to use 'min-width' by default in media queries instead of 'max-width'
$-config-emQueries: true; // True to convert media queries to 'em' instead of 'px'
$-config-breakpoints: (
    // id: value
    'default': default, // this breakpoint doesn't print media query
    'large': 1200px,
    'tablet': 960px,
    'phablet': 720px,
    'mobile': 560px,
    'small-l': 480px,
    'small-p': 320px
);

// === Directories ===
$-dir-fonts: $dir-fonts;
$-dir-img: $dir-img;

// === Development enviroment ===
$-config-dev: false;
$-config-devHelpers: (
    'responsive': (
        'enabled': true,
        'breakpoints': $-config-breakpoints,
        'color': rgba(255, 0, 0, 0.6)
    ),
    'baseline': (
        'enabled': true,
        'color': rgba(255, 0, 0, .5) // color of baseline
    ),
);
