//===============================================================
//  Theme colors: (id: color)
//===============================================================

$-colors-bg: (
    white: #ffffff,
    blue: #466e7d,
    green: #a2ba13,
    dark: #161616,
    light: #e2e2e2,
    light2: #e6e6e6,
    grey: #a4a4a4,
    grey2: #f0f0f0
);

$-colors-txt: (
    default: #161616,
    inherit: inherit,
    white: #ffffff,
    blue: #466e7d,
    green: #a2ba13,
    dark: #161616,
    light: #e2e2e2,
    light2: #5a5a5a,
    grey: #a4a4a4,
    grey2: #f0f0f0
);

$-colors-other: (
    border: -color(grey, bg) // TODO
);

//===============================================================
//  Vertical rythm
//===============================================================

// Default font size of content
$-vr-baseFontSize: 1.6rem;
// ratio for modular scale of typography (goldenratio)
$-vr-ratio: 1.618;
// lineheight of baseline (26px)
$-vr-baseline: -rem(round(16px * $-vr-ratio), 10px);
// method for baseline
$-vr-method: 3;
// these values has to be adjusted for each font to make font sit on baseline
$-vr-fontCapheights: (
    base: 0.71,
    heading: 0.71
);

//===============================================================
//  Typography types: (id: fontSize lineHeight fontWeight)
//===============================================================

$-typography: (
    h1: 4.2rem 2 300,
    h2: 3.7rem 2 300,
    h3: 2.9rem 1.5 300,
    h4: 2.6rem 1.5 300,
    h5: 2.4rem 1 300,
    h6: 2rem 1 300,
    content: 1.6rem 1 400,
    18: 1.8rem 1 400,
    20: 1.1rem 1 300,
    22: 2.2rem 1 300,
    68: 6.8rem 3 300,
);

//===============================================================
//  Base variables
//===============================================================

// === Font variables ===
$-fontFamily-base: 'Lato', Tahoma, sans-serif;
$-fontFamily-heading: $-fontFamily-base;
// base font size is set to 10px for easier rem calculations
$-fontSize-base: 10px;
$-fontSize-content: 1.6rem;
$-lineHeight-content: -vr-size();
$-lineHeight-heading: -vr-size();
$-lineHeight-small: -vr-size(.5);

// === Body ===
$-body-minWidth: 240px;
$-body-color: -color(default, txt);
$-body-bg: -color(grey2, bg);

// === Links ===
$-link-color: -color(blue, txt);
$-link-decoration: none;
$-link-transitionProperty: color, background, opacity, border;

// === Headings ===
$-heading-color: false;
$-heading-fontWeight: 300;
$-heading-typography: (
    h1: map_get($-typography, h1),
    h2: map_get($-typography, h2),
    h3: map_get($-typography, h3),
    h4: map_get($-typography, h4),
    h5: map_get($-typography, h5),
    h6: map_get($-typography, h6),
);

//===============================================================
//  Other styles
//===============================================================

// === Borders ===
$-border: -color(border, other);
$-border-input: -color(border, other);
$-borderRadius: 5px;
$-borderRadius-button: 10rem;
$-borderRadius-input: $-borderRadius;

// === Effects ===
$-boxShadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.25);
$-textShadow: none;
$-opacity-hover: .8;
$-opacity-bg1: .2;
$-color-variation: 10%;

// === Transitions ===
$-transitionDuration: 300ms;
$-transitionFunction: cubic-bezier(.4, 0, .5, 1);

// === Other ===
// Change root font-size for rem unit scaling
$-respond-htmlFontSize: (
	//'large': $-fontSize-base - 0.5px,
	//'tablet': $-fontSize-base - 1px,
	//'mobile': $-fontSize-base - 1.5px
);

// Default spacing for block elements
$-block-selectors: blockquote, dd, dl, h1, h2, h3, h4, h5, h5, h6, hr, ol, p, pre, table, ul;
$-block-space: -vr-size();

// Register all project z-indexes here
$-zIndexes: ();
