/*===============================================================*\
    HELPER: bgCover - fitted background for element
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	.#{$prefix}bgCover#{$suffix} {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@include -helperGenerator();
