/*===============================================================*\
    HELPER: border radius
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	@each $id, $value in map_get($config, 'generate') {
		.#{$prefix}borderRad-#{$id}#{$suffix} {
			border-radius: $value;
		}
	}
}

@include -helperGenerator($-helper-borderRadius);