/*===============================================================*\
    HELPER: color classes
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	// === Text color ===
	@each $id, $value in map_get_deep($config, 'generate' 'text') {
		.#{$prefix}cTxt-#{$id}#{$suffix} {
			color: $value;
		}
	}

	// === Text hover color ===
	@each $id, $value in map_get_deep($config, 'generate' 'textHover') {
		.#{$prefix}cTxtHover-#{$id}#{$suffix}:hover {
			@extend .#{$prefix}cTxt-#{$id}#{$suffix} !optional;
		}
	}

	// === Background ===
	@each $id, $value in map_get_deep($config, 'generate' 'background') {
		.#{$prefix}cBg-#{$id}#{$suffix} {
			// Check to allow gradients
			@if (type_of($value) == 'color') {
				background-color: $value;
			} @else {
				background: $value;
			}
		}
	}

	// === Background hover ===
	@each $id, $value in map_get_deep($config, 'generate' 'backgroundHover') {
		.#{$prefix}cBgHover-#{$id}#{$suffix}:hover {
			@extend .#{$prefix}cBg-#{$id}#{$suffix} !optional;
		}
	}
}

@include -helperGenerator($-helper-colors);
