/*===============================================================*\
    HELPER: global page width and padding container
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	.#{$prefix}container#{$suffix},
	%-container#{$suffix} {

		// Responsive or fixed design
		@if (map_get($config, 'responsive')) {
			max-width: map_get($config, 'siteMaxWidth');
		} @else {
			width: map_get($config, 'siteMaxWidth');
		}

		// Force fixed size on IE8 (no responsive support)
		@if ($-config-ie8) {
			.ie8 & {
				min-width: map_get($config, 'siteMaxWidth');
			}
		}

		// Make element centered
		margin-left: auto;
		margin-right: auto;
		// When in flex container
		flex-basis: 100%;

		// Paddings
		@if (map_get($config, 'paddings')) {
			@each $breakpoint, $value in map_get($config, 'paddings') {
				@include -respondTo($breakpoint) {
					padding-left: $value;
					padding-right: $value;
				}
			}

			box-sizing: content-box;
		}
	}
}

@include -helperGenerator($-helper-container);
