/*===============================================================*\
    HELPER: display classes
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	@each $id, $value in map_get($config, 'generate') {
		.#{$prefix}disp#{$id}#{$suffix} {
			display: $value;
		}
	}
}

@include -helperGenerator($-helper-display);