/*===============================================================*\
    HELPER: maxWidth
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	@each $id, $value in map_get($config, 'generate') {
		.#{$prefix}maxWidth-#{$id}#{$suffix} {
			max-width: $value;
		}
	}
}

@include -helperGenerator($-helper-maxWidth);