/*===============================================================*\
	HELPER: noBaseline
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
    .#{$prefix}noBaseline#{$suffix} {
        &.#{$prefix}noBaseline#{$suffix} {
            @if ($-vr-method == 3) {
                margin-top: 0;
                margin-bottom: 0;
            }
            @if ($-vr-method == 4) {
                transform: none;
            }
        }
    }
}

@include -helperGenerator();
