/*===============================================================*\
    HELPER: removes first child's top margin
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	.#{$prefix}noFirstMargin#{$suffix} > *,
	%-noFirstMargin#{$suffix} > *,
	%-noFirstMargin-self#{$suffix} {
		&:first-child {
			margin-top: 0 !important;
		}
	}
}

@include -helperGenerator();