/*===============================================================*\
    HELPER: overflow
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	@each $id, $value in map_get($config, 'generate') {
		.#{$prefix}overflow#{$id}#{$suffix} {
			overflow: $value;
		}
	}
}

@include -helperGenerator($-helper-overflow);