/*===============================================================*\
    HELPER: paddings generator
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	@each $id, $data in map_get($config, 'generate') {
		// Extract size and types
		$value: nth($data, 1);
		$classesToGenerate: nth($data, 2);

		// Generate placeholders
		@each $class, $side in (all: '', top: '-top', left: '-left', bottom: '-bottom', right: '-right') {
			%padding-#{$class}-#{$id}#{$suffix} {
				padding#{$side}: $value;
			}
		}

		// Generate classes
		@each $data in (A 'all'), (V 'top'), (V 'bottom'), (H 'left'), (H 'right'), (T 'top'), (L 'left'), (B 'bottom'), (R 'right') {
			$class: nth($data, 1);
			$extendClass: nth($data, 2);

			@if (index($classesToGenerate, $class)) {
				.#{$prefix}pad#{$class}-#{$id}#{$suffix} {
					@extend %padding-#{$extendClass}-#{$id}#{$suffix};
				}
			}
		}
	}
}

@include -helperGenerator($-helper-paddings);