/*===============================================================*\
    HELPER: position
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	@each $id, $value in map_get($config, 'generate') {
		.#{$prefix}pos#{$id}#{$suffix} {
			@if ($value == 'cover') {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			} @else {
				position: $value;
			}
		}
	}

    @each $id, $value in map_get($config, 'generateCoords') {
        @each $data in (T 'top'), (L 'left'), (B 'bottom'), (R 'right') {
            $type: nth($data, 1);
            $property: nth($data, 2);

            .#{$prefix}pos#{$type}-#{$id}#{$suffix} {
                #{$property}: $value
            }
        }
    }
}

@include -helperGenerator($-helper-position);
