/*===============================================================*\
	HELPER: shadow
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
    @each $id, $value in map_get($config, 'generate') {
        .#{$prefix}shadow-#{$id}#{$suffix} {
            box-shadow: $value;
        }
    }
}

@include -helperGenerator($-helper-shadow);
