/*===============================================================*\
    HELPER: hide single text line overflow with ellipsis
\*===============================================================*/

@mixin -txtTrunctate() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin -helper($config, $prefix, $suffix) {
	.#{$prefix}txtTrunctate#{$suffix},
	%-txtTrunctate#{$suffix} {
		@include -txtTrunctate();
	}
}

@include -helperGenerator();