/*===============================================================*\
    HELPER: text style classes
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	// === Text align ===
	@if (map_get_deep($config, 'generate' 'align')) {
		@each $id, $value in map_get_deep($config, 'generate' 'align') {
			.#{$prefix}txt#{$id}#{$suffix} {
				text-align: $value;
			}
		}
	}

	// === Font weight ===
	@if (map_get_deep($config, 'generate' 'weight')) {
		@each $id, $value in map_get_deep($config, 'generate' 'weight') {
			.#{$prefix}txt#{$id}#{$suffix} {
				font-weight: $value;
			}
		}
	}

	// === Other styles ===
	@if (map_get_deep($config, 'generate' 'other')) {
		.#{$prefix}txtItalic#{$suffix} {
			font-style: italic;
		}

		.#{$prefix}txtUnderline#{$suffix} {
			text-decoration: underline;
		}

		.#{$prefix}txtUpper#{$suffix} {
			text-transform: uppercase;
		}

		.#{$prefix}txtLower#{$suffix} {
			text-transform: lowercase;
		}

        .#{$prefix}txtNoTransform#{$suffix} {
            text-transform: none;
        }
	}
}

@include -helperGenerator($-helper-textStyle);
