/*===============================================================*\
	HELPER: translate
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
    @each $id, $data in map_get($config, 'generate') {
        // Extract size and types
        $value: nth($data, 1);
        $types: nth($data, 2);

        // Generate classes
        @each $type in $types {
            @if ($type == A) {
                .#{$prefix}translate-#{$id}#{$suffix} {
                    transform: translate(#{$value}, #{$value});
                }
            }
            @if ($type == Y) {
                .#{$prefix}translateY-#{$id}#{$suffix} {
                    transform: translateY(#{$value});
                }
            }
            @if ($type == X) {
                .#{$prefix}translateX-#{$id}#{$suffix} {
                    transform: translateX(#{$value});
                }
            }
        }
    }
}

@include -helperGenerator($-helper-translate);
