/*===============================================================*\
	HELPER: Typography type generator
\*===============================================================*/
@mixin -helper($config, $prefix, $suffix) {
	@each $id, $value in map_get($config, 'generate') {
		.#{$prefix}type-#{$id}#{$suffix},
		.#{$prefix}typeInside-#{$id}#{$suffix} > * {
			@include -type($value);
		}
	}
}

@include -helperGenerator($-helper-type);
