/*===============================================================*\
    HELPER: maxWidth
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
    @each $id, $value in map_get($config, 'generate') {
        .#{$prefix}width-#{$id}#{$suffix} {
            width: $value;
        }
    }
}

@include -helperGenerator($-helper-width);
