/*===============================================================*\
	HELPER: zIndex
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	@each $id, $value in map_get($config, 'generate') {
		.#{$prefix}zIndex-#{$id}#{$suffix} {
			z-index: $value;
		}
	}
}

@include -helperGenerator($-helper-zIndex);