@if ($-config-dev) {
	/*===============================================================*\
		Development helpers
	\*===============================================================*/

	// === Responsive helper - show current breakpoint ===
	@if (map_get_deep($-config-devHelpers, 'responsive' 'enabled')) {
		body:before {
			display: block;
			position: fixed;
			top: 100%;
			left: 0;
			font-family: monospace;
			font-size: 14px;
			line-height: 1;
			color: map_get_deep($-config-devHelpers, 'responsive' 'color');
			z-index: 9999;
			transform-origin: left top;
			transform: rotate(-90deg);

			@each $id, $breakpoint in map_get_deep($-config-devHelpers, 'responsive' 'breakpoints') {
				@include -respondTo($breakpoint) {
					content: $id;
				}
			}
		}
	}

	// === Vertical rythm baseline helper - show baseline grid ===
	@if (map_get_deep($-config-devHelpers, 'baseline' 'enabled')) {
		$color: map_get_deep($-config-devHelpers, 'baseline' 'color');
		$baseline: -stripUnits(-px($-vr-baseline));

		body:not(:active):after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 9999;
			pointer-events: none;
			background: linear-gradient(to top, $color 1px, transparent 1px);
			background-size: 100% -vr-size();
		}
	}
}