//===============================================================
//  FUNCTION: Theme colors
//===============================================================

@function -color($id, $type) {
	$map: ();
	@if ($type == txt) {
		$map: $-colors-txt;
	} @else if ($type == bg) {
		$map: $-colors-bg;
	} @else if ($type == other) {
		$map: $-colors-other;
	}
	@return map-get($map, $id);
}

//===============================================================
//  FUNCTION: Z-index helper
//===============================================================

@function -zIndex($id) {
	@return map-get($-zIndexes, $id);
}

//===============================================================
//  FUNCTION: Strip units
//===============================================================

@function -stripUnits($number) {
	@return $number / ($number * 0 + 1);
}

//===============================================================
//  FUNCTION: Detect if number is integer
//===============================================================

@function -isInteger($number) {
	@return $number == round($number);
}

//===============================================================
//  FUNCTION: Floor value after needed decimal point.
//  Example: floor-decimals(12.5983) -> 12.59
//===============================================================

@function -floorDecimals($value, $numbersAfterComa: 4) {
	$multiplier: 1;
	@for $i from 0 to $numbersAfterComa {
		// $value * 10^x
		$multiplier: $multiplier * 10;
	}

	@return floor( $value * $multiplier) / $multiplier;
}

//===============================================================
//  FUNCTION: Calculate relative line height from px values
//===============================================================

@function -lineHeight($lineHeightPX, $fontSizePX) {
	$lineHeight: -stripUnits($lineHeightPX / $fontSizePX);
	@return -floorDecimals($lineHeight, 3);
}

//===============================================================
//  FUNCTION: Calculate percentage width of children
//  relative to its container width
//===============================================================

@function -childWidth($childWidth, $parentWidth) {
	@return -floorDecimals($childWidth * 100% / $parentWidth);
}

//===============================================================
//  FUNCTION: Units converter
//===============================================================

@function -px($size, $base: null) {
	@if ($-config-unitConversion and unit($size) != 'px') {
		@if (not $base) {
			@if (unit($size) == 'em') {
				$base: -px($-fontSize-content, $-fontSize-base);
			} @else if (unit($size) == 'rem') {
				$base: $-fontSize-base;
			}
		}
		@return -stripUnits($size * $base) * 1px;
	} @else {
		@return $size;
	}
}

@function -rem($sizePX, $basePX: $-fontSize-base) {
	@if ($-config-unitConversion) {
		@return -stripUnits($sizePX / $basePX) * 1rem;
	} @else {
		@return $sizePX;
	}
}

@function -em($sizePX, $basePX: -px($-fontSize-content, $-fontSize-base)) {
	@if ($-config-unitConversion) {
		@return -stripUnits($sizePX / $basePX) * 1em;
	} @else {
		@return $sizePX;
	}
}