//===============================================================
//  Helper generator
//===============================================================

@mixin -helperGenerator($helper-config: (), $helper-is-attribute: false) {
	$prefix: if($helper-is-attribute, $-config-prefixHelperAttr, $-config-prefixHelperClass);

	// Render default helper content
	@include -helper($helper-config, $prefix, '');

	// Render responsive helper content
	@each $breakpointType in 'breakpoints', 'breakpointsFrom' {
		@if map_get($helper-config, $breakpointType) {
			@each $breakpointId, $breakpointValue in map_get($helper-config, $breakpointType) {
				// Skip 'default' breakpoint
				@if ($breakpointValue != default) {
					@include -respondTo($breakpointId, if($breakpointType == 'breakpointsFrom', 'min-width', 'max-width')) {
						$suffix: if($breakpointType == 'breakpoints', $-config-suffixResponsive, $-config-suffixResponsiveFrom) + $breakpointId;
						@include -helper($helper-config, $prefix, $suffix);
					}
				}
			}
		}
	}
}