//===============================================================
//  SASS map helpers
//  https://css-tricks.com/snippets/sass/deep-getset-maps/
//===============================================================

// Map deep get
@function map_get_deep($map, $keys) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}

// Deep set function to set a value in nested maps
@function map-set_deep($map, $keys, $value) {
	$maps: ($map,);
	$result: null;

	@if type-of(nth($keys, -1)) == "map" {
		@warn "The last key you specified is a map; it will be overrided with `#{$value}`.";
	}

	@if length($keys) == 1 {
		@return map-merge($map, ($keys: $value));
	}

	@for $i from 1 through length($keys) - 1 {
		$current-key: nth($keys, $i);
		$current-map: nth($maps, -1);
		$current-get: map-get($current-map, $current-key);
		@if $current-get == null {
			@error "Key `#{$key}` doesn't exist at current level in map.";
		}
		$maps: append($maps, $current-get);
	}

	@for $i from length($maps) through 1 {
		$current-map: nth($maps, $i);
		$current-key: nth($keys, $i);
		$current-val: if($i == length($maps), $value, $result);
		$result: map-merge($current-map, ($current-key: $current-val));
	}

	@return $result;
}