//===============================================================
//  MIXIN: Cross browser opacity
//===============================================================

@mixin -opacity($value) {
	opacity: $value;

	@if ($-config-ie8) {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value * 100})";
	}
}

//===============================================================
//  MIXIN: Block with aspect ratio
//===============================================================

@mixin -ratioBlock($width, $height, $styleChild: true) {
	&:before {
		content: '';
		display: block;
		padding-top: $height / $width * 100%;
	}

	@if ($styleChild) {
		position: relative;
		> * {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}

//===============================================================
//  MIXIN: Position absolute helper
//===============================================================

@mixin -absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: if($bottom, $bottom, $top);
	left: if($left, $left, $right);
}

//===============================================================
//  MIXIN: Font face
//===============================================================

@mixin -fontFace($name, $fileName, $fileTypes: eot woff2 woff ttf svg, $weight: normal, $style: normal, $dir: $-dir-fonts) {
	$srcTypes: (
		eot: url('#{$dir}/#{$fileName}.eot?#iefix') format('eot'),
		woff2: url('#{$dir}/#{$fileName}.woff2') format('woff2'),
		woff: url('#{$dir}/#{$fileName}.woff') format('woff'),
		ttf: url('#{$dir}/#{$fileName}.ttf') format('truetype'),
		svg: url('#{$dir}/#{$fileName}.svg') format('svg')
	);
	$src: '';
	@each $type in $fileTypes {
		$src: $src + map_get($srcTypes, $type);
		@if (index($fileTypes, $type) != length($fileTypes)) {
			$src: $src + ', ';
		}
	}

	@font-face {
		font-family: $name;
		src: unquote($src);
		font-weight: $weight;
		font-style: $style;
	}
}

//===============================================================
//  MIXIN: Typography type generator
//  $type: (id: fontSize lineHeight fontWeight)
//  $vr: true|false
//===============================================================

@mixin -type($type, $vr: true) {
    $fontSize: nth($type, 1);
    $lineHeight: if(length($type) > 1, nth($type, 2), null);
    $fontWeight: if(length($type) > 2, nth($type, 3), null);

    // use VR or not
    @if ($vr) {
        @include -vr-setBaseline($fontSize, if($lineHeight, $lineHeight, 1));
    } @else {
        font-size: $fontSize;
        @if ($lineHeight) {
            line-height: $lineHeight;
        }
    }

    @if ($fontWeight) {
        font-weight: $fontWeight;
    }
}
