//===============================================================
//  HELPER: Respond
//===============================================================

// TODO: support for mobile-first variable in function logic
$-respondBreakpoints: $-config-breakpoints;
$-respondType: if($-config-mobileFirst, 'min-width', 'max-width');

// Helper to get breakpoint if it exists
@function -respondGetBreakpoint($breakpoint, $breakpoints) {
	@if (type_of($breakpoint) == string and map_has_key($breakpoints, $breakpoint)) {
		@return map_get($breakpoints, $breakpoint);
	} @else if (type_of($breakpoint) == number) {
		@return $breakpoint;
	} @else {
		@error "Respond: breakpoint '" + $breakpoint + "' doesn't exist";
		@return 0;
	}
}

@mixin -respondTo($breakpoint, $type: $-respondType, $breakpoints: $-respondBreakpoints) {
	$breakpoint: -respondGetBreakpoint($breakpoint, $breakpoints);

	@if ($breakpoint == default) {
		@content;
	} @else {
		@if ($type == 'min-width') {
			$breakpoint: $breakpoint + 1;
		}
		// Convert media query to em
		@if ($-config-emQueries) {
			$breakpoint: -em($breakpoint, 16px);
		}

		// Print media query
		@media ('#{$type}': $breakpoint) {
			@content;
		}
	}
}

@mixin -respondBetween($breakpoint1, $breakpoint2, $breakpoints: $-respondBreakpoints) {
	$breakpoint1: -respondGetBreakpoint($breakpoint1, $breakpoints);
	$breakpoint2: -respondGetBreakpoint($breakpoint2, $breakpoints);

	@if ($breakpoint == default) {
		@content;
	} @else {
		// Convert media query to em
		@if ($-config-emQueries) {
			$breakpoint1: -em($breakpoint1 + 1, 16px);
			$breakpoint2: -em($breakpoint2, 16px);
		}

		// Print media query
		@media ('min-width': $breakpoint1) and ('max-width': $breakpoint2) {
			@content;
		}
	}
}
