//===============================================================
//  Vertical rythm helpers
//
//	inspiration for modular scale:
// 	1. modularscale.com
//
//	inspiration for baseline:
// 	2. https://medium.com/written-in-code/aligning-type-to-baseline-the-right-way-using-sass-e258fce47a9b
//	3. https://pilot.co/blog/implementing-baseline-rhythm-in-css/
//	4. https://gist.github.com/razwan/10662500
//
//	for capheight calculation there is a tool:
//	https://www.npmjs.com/package/cap-height (there is Codepen url)
//===============================================================

//-------------------------------------------
//  VARS
//-------------------------------------------

// Default font size of content
$-vr-baseFontSize: 1.4rem !default;
// ratio for modular scale of typography
$-vr-ratio: 1.618 !default;
// golden ratio
// lineheight of baseline
$-vr-baseline: -rem(round(16px * $-vr-ratio), 10px) !default;
// 26px
// method for baseline
$-vr-method: 3 !default;
// these values has to be adjusted for each font
$-vr-fontCapheights: (
    base: 0.72, // 'open sans' value
) !default;

//-------------------------------------------
//  FUNCTIONS
//-------------------------------------------

// Returns size calculated by ratio (look at 1 url)
@function -vr-modularScale($scale, $base: $-vr-baseFontSize, $ratio: $-vr-ratio) {
    @return $base * pow($ratio, $scale);
}

// Return size of vertical space based on baseline and scaling ratio
@function -vr-size($scale: 1, $offset: 0, $baseline: $-vr-baseline) {
    @return ($baseline - $offset) * $scale;
}

//-------------------------------------------
//  Mixins
//-------------------------------------------

// Aligns element to baseline
// $fontSize - sets font size for element (defaults to base font size)
// $linesRatio - sets how much text rows fits into baseline rows...
// $offsetTop - how much to add/remove to top (you can compensate borders with like '-1px' offset)
// $offsetBottom - same, just for bottom
// $capheightId - key of $-vr-fontCapheight map (defaults to 'base')
// $method - set method for aligning element to baseline (look at 2 url)

@mixin -vr-setBaseline($fontSize: $-vr-baseFontSize, $linesRatio: 1, $offsetTop: 0, $offsetBottom: 0, $capheightId: base, $method: $-vr-method) {
    // === Variables ===

    // get element lineheight in px
    $el-lineHeight: -vr-size($linesRatio);
    // get font capheight from capheights map
    $el-capheight: map_get($-vr-fontCapheights, $capheightId);
    // calculate element real font size
    $el-realFontSize: $fontSize * $el-capheight;
    // calculate offsets needed for element to be on baseline
    $el-offsetFont: ($el-lineHeight - $el-realFontSize) / 2;
    $el-offsetTop: $el-offsetFont;
    $el-offsetBottom: -$el-offsetFont + $offsetBottom;
    // if lineRatio is not integer, additional offset is needed
    @if (not -isInteger($linesRatio)) {
        $ratioDiff: round($linesRatio) - $linesRatio;
        $offsetTop: $offsetTop + -vr-size($ratioDiff);
    }

    // Method 1
    @if ($method == 1) {
        position: relative;
        top: $el-offsetTop;
        margin-top: $offsetTop;
        margin-bottom: $offsetBottom;
    }
    // Method 2
    @if ($method == 2) {
        padding-top: $el-offsetTop + $offsetTop;
        margin-bottom: $el-offsetBottom + $offsetBottom;
    }
    // Method 3
    @if ($method == 3) {
        margin-top: -em($el-offsetTop + $offsetTop, $fontSize);
        margin-bottom: -em($el-offsetBottom + $offsetBottom, $fontSize);
    }
    // Method 4
    @if ($method == 4) {
        transform: translateY(-em($el-offsetTop + $offsetTop, $fontSize));
    }

    // === Set font size and lineheight if needed ===
    @if ($fontSize != $-vr-baseFontSize) {
        font-size: $fontSize;
    }

    line-height: $el-lineHeight;

}
