/*===============================================================*\
    BASE:
\*===============================================================*/

// === Global settings ===
*,
*:before,
*:after {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	transition-property: none;
	transition-duration: $-transitionDuration;
	transition-timing-function: $-transitionFunction;
}

// === HTML ===
html {
	height: 100%;
	font-size: $-fontSize-base;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;

	@each $breakpoint, $fontSize in $-respond-htmlFontSize {
		@include -respondTo($breakpoint) {
			font-size: $fontSize;
		}
	}
}

// === Body ===
body {
	position: relative;
	min-height: 100%;
	@if ($-body-minWidth) {
		min-width: $-body-minWidth;
	}
	margin: 0;
	padding-top: .1px; // to prevent margin overflow for first elem
	font-family: $-fontFamily-base;
	font-size: $-fontSize-content;
	line-height: $-lineHeight-content;
	color: $-body-color;
	background: $-body-bg;
	overflow-y: scroll;
}

// === Links ===
a {
	background: transparent;
	color: $-link-color;
	text-decoration: $-link-decoration;
	transition-property: $-link-transitionProperty;

	&:hover {
		@include -opacity($-opacity-hover);
	}
}

// === Images ===
img {
	max-width: 100%;
	border: 0;
	box-sizing: content-box;
	// Image quality improve
	image-rendering: optimizeQuality;
	// Images with [height] attribute will respect it
	&:not([height]) {
		height: auto;
	}
}

// === Block elements ===
#{$-block-selectors} {
	@include -vr-setBaseline();
	padding-bottom: $-block-space; // default spacing between elements

	&:last-child {
		padding-bottom: 0;
	}
}

// === Paragraphs ===
p {
}

// === Lists ===
ul,
ol {
	margin-left: 0;
	padding-left: 0;
	list-style: inside;

	li {
		@extend %-noFirstMargin-self;
	}
}

// === Tables ===
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	text-align: left;
	border: none;
}

th {
}

// === Headings ===
h1,
h2,
h3,
h4,
h5,
h6 {
	@if ($-heading-color) {
		color: $-heading-color;
	}
	font-family: $-fontFamily-heading;
	font-weight: $-heading-fontWeight;
    text-transform: uppercase;
}

// === Heading typography ===
@each $heading, $type in $-heading-typography {
    #{$heading} {
       @include -type($type);
    }
}

// === Other ===
hr {
	border: 0;
	border-top: 1px solid $-border;
	clear: both;
}
