/*===============================================================*\
    HTML Boilerplate Reset | Modified
\*===============================================================*/

//-------------------------------------------
// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.
// Customize the background color to match your design.
//-------------------------------------------

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

//-------------------------------------------
//  Remove the gap between images, videos, audio and canvas and the bottom of
//  their containers: h5bp.com/i/440
//-------------------------------------------

audio,
canvas,
img,
svg,
video {
	vertical-align: top;
}

//-------------------------------------------
//  Remove default fieldset styles.
//-------------------------------------------

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

//-------------------------------------------
//  Allow only vertical resizing of textareas.
//-------------------------------------------

textarea {
	resize: vertical;
}

//-------------------------------------------
// IE clear button remove
//-------------------------------------------

::-ms-clear {
	display: none;
}
