/*===============================================================*\
    BASE: forms
\*===============================================================*/

/* === Basic input styles === */
input,
select,
textarea {
	display: inline-block;
	height: -vr-size(1.5);
    width: 100%;
	padding: 0 1.5rem;
	vertical-align: middle;
	font-size: 1.6rem;
	color: map_get($-colors-bg, dark);
	border: none;
	border-radius: $-borderRadius-input;
    box-shadow: $-boxShadow;
	// Webkit blurred input fix
	-webkit-filter: blur(0);

	~ * {
		vertical-align: middle;
	}
}

/* === Checboxes/radios === */
input[type="checkbox"],
input[type="radio"] {
	margin-right: 1rem;
	padding: 0;
	cursor: pointer;
}

/* === Select === */
select {
	line-height: calc(#{-vr-size(1.5)} - 2px);
}

/* === Textarea === */
textarea {
	height: auto;
	max-height: -vr-size(6);
    resize: none;
}

/* === Validation === */
input,
select,
textarea {
	&.is-invalid {
	}
}

// === Label ===
label {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5rem;

	&[for] {
		cursor: pointer;
	}
}
