/*===============================================================*\
	BASE: webfonts
\*===============================================================*/

// Example of font loading
//@include -fontFace('fontName', 'fileName');

//$-fontName: 'fontName', sans-serif;

@include -fontFace('Lato', 'LatoLatin-Regular', $weight: normal, $style: normal);
//@include fontFace('Lato', 'LatoLatin-Italic', $weight: normal, $style: italic);
@include -fontFace('Lato', 'LatoLatin-Light', $weight: 300, $style: normal);
@include -fontFace('Lato', 'LatoLatin-Bold', $weight: 600, $style: normal);
