<template>
    <div class="browse-history h-margB-20">
        <div v-if="linksProp.length > 0" h-flex="dir:column@mobile main:center cross:top@mobile">
            <div>Browse history: </div>
            <ul h-flex>
                <li v-for="link in linksProp">{{link.body}}, </li>
            </ul>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['linksProp'],
    watch: {
      linksProp () {
        this.links = this.linksProp
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    ul {
        list-style: none;
        margin: 0;
    }
</style>
