<template>
    <div class="get-rss">
        <div v-if="rssTextProp.length > 0">
            <h2>Rss feeds</h2>
            <button @click="sortBy='title'">by alphabet</button>
            <button @click="sortBy='pubDate'">by date</button>
            <transition-group name="flip-list" tag="ul">
                <li class="h-padT-15 h-padB-18 h-padH-30 h-cBg-white h-borderB-2" v-for="item in sortedList" v-bind:key="item">
                    <a @click="item.showModal = true">{{item.title}}</a>
                    <modal :rssTextProp="item" v-if="item.showModal" @close="item.showModal = false"></modal>
                </li>
            </transition-group>
        </div>
    </div>
</template>
<script>
  import Modal from './Modal.vue'
  export default {
    components: { Modal },
    props: ['rssTextProp'],
    data () {
      return {
        sortBy: 'title'
      }
    },
    watch: {
      rssTextProp () {
        this.rssText = this.rssTextProp
      }
    },
    computed: {
      sortedList () {
        return this.rssTextProp.slice().sort((a, b) => {
          var textA = a[this.sortBy].toUpperCase()
          var textB = b[this.sortBy].toUpperCase()
          return (textA < textB) ? -1 : (textA > textB) ? 1 : 0
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    ul {
        list-style: none;
    }
    .flip-list-move {
        transition: transform 1s;
        -webkit-transition: transform 1s;
    }
</style>
