<template>
  <div class="h-margT-60">
    <div class="hello" h-grid="6/12 12/12@tablet">
      <div class="h-margT-30">
        <input :value="newLink" @change="getLinks" @keyup.enter="loadIt();addLink()" placeholder="Search">
      </div>
      <div class="">
        <browseHistory :linksProp="links"></browseHistory>
        <LastVisited :stateProp="state"></LastVisited>
      </div>
      <getRss :rssTextProp="rssText"></getRss>
    </div>
  </div>
</template>

<script>
  import Axios from 'axios'
  import GetRss from './GetRss.vue'
  import BrowseHistory from './BrowseHistory.vue'
  import LastVisited from './LastVisited.vue'
  export default {
    name: 'Hello',
    components: { GetRss, BrowseHistory, LastVisited },
    data () {
      return {
        stateData: {
          number: 0
        },
        rss: {},
        rssLinks: [],
        rssText: [],
        state: ''
      }
    },
    methods: {
      getLinks (e) {
        this.$store.dispatch('getLink', e.target.value)
      },
      addLink () {
        this.$store.dispatch('addLink')
      },
      loadIt: function () {
        const instance = Axios.create({
        })
        this.rss = instance.get(' https://api.rss2json.com/v1/api.json?rss_url=' + this.newLink + '&api_key=fnsoo48mzlfbavfe2me9zdxqkvctzv1lkmzgk0nw')
          .then((response) => {
            this.rssText = []
            for (var i = 0; i < response.data.items.length; i++) {
              var image = response.data.items[i]['description']
              var div = document.createElement('div')
              div.innerHTML = image
              var elements = div.childNodes
              var imageSrc = elements[1].querySelectorAll('img')[0] ? elements[1].querySelectorAll('img')[0].getAttribute('src') : ''
              var descriptionText = elements[2] ? elements[2].data : ''
              var pubDate = response.data.items[i]['pubDate'] ? response.data.items[i]['pubDate'] : ''
              pubDate = new Date(pubDate)
              var year = !isNaN(pubDate) ? pubDate.getFullYear() : ''
              var month = !isNaN(pubDate) ? (1 + pubDate.getMonth()).toString() : ''
              month = month.length > 1 ? month : '0' + month
              var day = !isNaN(pubDate) ? pubDate.getDate().toString() : ''
              day = day.length > 1 ? day : '0' + day
              var hours = !isNaN(pubDate) ? pubDate.getHours() : ''
              var minutes = !isNaN(pubDate) ? pubDate.getMinutes() : ''
              var seconds = !isNaN(pubDate) ? pubDate.getSeconds() : ''
              var formattedDate = !isNaN(pubDate) ? year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds : ''
              console.log(imageSrc)
              response.data.items[i]['showModal'] = false
              response.data.items[i]['imageSrc'] = imageSrc
              response.data.items[i]['descriptionText'] = descriptionText
              response.data.items[i]['pubDate'] = formattedDate
            }
            this.rssText = response.data.items
          }).catch(function (error) {
            console.log(error)
          })
      }
    },
    computed: {
      newLink () {
        return this.$store.getters.newLink
      },
      links () {
        return this.$store.getters.links.slice(0, 3)
      }
    },
    mounted () {
      const where = 0
      const what = 1
      let links = JSON.parse(localStorage.getItem('links')) || []
      this.state = links[links.length - 1] || []
      Object.entries(this.state).forEach(e => {
        this.stateData[e[where]] = e[what]
        return true
      })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  input {
    border-radius: 5.8px;
    background-color: #ffffff;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #4ea486;
  }
  input:focus {
    outline: none;
  }
  .hello {
    margin: 0 auto;
  }
</style>
