<template>
    <div class="last-visited">
        <div v-if="stateProp.body" h-flex="main:center main:left@mobile">
            <span>Last visited: </span>
            <span>{{stateProp.body}}</span>
        </div>
    </div>
</template>

<script>
  export default {
    props: ['stateProp'],
    watch: {
      stateProps () {
        this.state = this.stateProps
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    ul {
        list-style: none;
    }
</style>
