<template class="modal">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            <h6>{{rssTextProp.title}}</h6>
                        </slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            <div h-flex="dir:column">
                                <span v-if="rssTextProp.categories">{{rssTextProp.categories[0]}}</span>
                                <span v-if="rssTextProp.pubDate">{{rssTextProp.pubDate}}</span>
                            </div>
                            <div>
                                <img v-if="rssTextProp.imageSrc" :src="rssTextProp.imageSrc" alt="" width="140px" height="100px"/>
                            </div>
                            <p v-if="rssTextProp.descriptionText">{{rssTextProp.descriptionText}}</p>
                            <p v-else>No description</p>
                        </slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer">
                            <a v-if="rssTextProp.link" :href="rssTextProp.link" target="_blank">Read More</a>
                            <button class="modal-default-button" @click="$emit('close')">
                                Close
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
  export default {
    name: 'modal',
    props: ['rssTextProp']
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 100%;
        max-width: 500px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }
    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
