<template>
    <div id="app" class="h-container">
        <img class="app-bg-image" src="./assets/images/social-rss.png" alt="rss-feed-background">
        <img class="logo" src="./assets/images/logo.png">
        <router-view>
        </router-view>
    </div>
</template>

<script>
  import Hello from './components/Hello.vue'
  export default {
    name: 'app',
    components: { Hello }
  }
</script>

<style lang="scss">
    @import './styles/sass/screen.scss';
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin: 60px auto;
    }
    .logo {
        max-width: 20rem;
    }
    .app-bg-image {
        max-width: 400px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }
</style>
