/*===============================================================*\
    LAYOUT: flexbox
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
	//-------------------------------------------
	//  Default styles
	//-------------------------------------------

	@if ($suffix == '') {
		%-flex,
		[#{$prefix}flex] {
			display: flex;
		}

		// Prepend pseudo flex item to always push last container row items
		[#{$prefix}flex~="pushLastRow"] {
			&:after {
				content: '';
				flex-grow: 1;
			}
		}
	}

	//-------------------------------------------
	//  Flex container styles
	//-------------------------------------------

	// Flex direction
	@each $key, $value in (
		'row': row,
		'column': column,
		'row-rev': row-reverse,
		'column-rev': column-reverse
	) {
		[#{$prefix}flex~="dir:#{$key}#{$suffix}"] {
			flex-direction: $value;
		}
	}

	// Flex wrap
	@each $key, $value in (
		'true': wrap,
		'false': nowrap
	) {
		[#{$prefix}flex~="wrap:#{$key}#{$suffix}"] {
			flex-wrap: $value;
		}
	}

	// Main axis (horizontal in row direction, vertical in column)
	@each $key, $value in (
		'left': flex-start,
		'right': flex-end,
		'center': center,
		'between': space-between,
		'around': space-around
	) {
		[#{$prefix}flex~="main:#{$key}#{$suffix}"] {
			justify-content: $value;
		}
	}

	// Cross axis (vertical in row direction, horizontal in column)
	@each $key, $value in (
		'top': flex-start,
		'bottom': flex-end,
		'center': center,
		'stretch': stretch,
        'baseline': baseline
	) {
		[#{$prefix}flex~="cross:#{$key}#{$suffix}"] {
			align-items: $value;
		}
	}

	//-------------------------------------------
	//  Flex item styles
	//-------------------------------------------

	// Flex grow
	@each $key, $value in (
		'true': 1,
		'false': 0
	) {
		// Check to prevent generation of unnecessary style
		@if (not ($suffix == '' and $key == 'false')) {
			[#{$prefix}flexitem~="grow:#{$key}#{$suffix}"] {
				flex-grow: $value;
			}
		}
	}

	// Allow/disallow shrink of element to minimum width
	[#{$prefix}flexitem~="shrink:true#{$suffix}"] {
		min-width: 0;
	}

	[#{$prefix}flexitem~="shrink:false#{$suffix}"] {
		flex-shrink: 0;
	}

	// Flex order
	@each $key, $value in (
		'1': 1,
		\-1: -1 // this row throws 'TypeError: undefined
	) {
		[#{$prefix}flexitem~="order:#{$key}#{$suffix}"] {
			order: $value;
		}
	}

	// Make flex items equal width by default
	[#{$prefix}flexitem~="equalWidth#{$suffix}"] {
		flex-grow: 1;
		flex-basis: 0;
	}

    // Cross axis (vertical in row direction, horizontal in column)
    @each $key, $value in (
        'top': flex-start,
        'bottom': flex-end,
        'center': center,
        'stretch': stretch,
        'baseline': baseline
    ) {
        [#{$prefix}flexitem~="cross:#{$key}#{$suffix}"] {
            align-self: $value;
        }
    }
}

@include -helperGenerator($-helper-layout-flex, true);
