/*===============================================================*\
    LAYOUT: grid width
\*===============================================================*/

// TODO: auto width extender
$-gridWidths: (
	'10': 10%,
	'16': 16.666%,
	'20': 20%,
	'25': 25%,
	'30': 30%,
	'33': 33.333%,
	'40': 40%,
	'50': 50%,
	'60': 60%,
	'66': 66.666%,
	'70': 70%,
	'75': 75%,
	'80': 80%,
	'83': 83.333%,
	'90': 90%,
	'100': 100%
);

// === Helper for width placeholder extending ===
@mixin -gridWidthHelper($widthValue, $suffix) {
	$widthId: quote(-stripUnits(-floorDecimals($widthValue, 0)));
	$widthValue: -floorDecimals($widthValue, 3);

	@if map_has_key($-gridWidths, $widthId) {
		@extend %-gridWidth-#{$widthId}-#{$suffix};
	} @else {
		width: -floorDecimals($widthValue, 3);
	}
}

// === Grid loop ===
@mixin -helper($config, $prefix, $suffix) {
	// === Generate width placeholders ===
	@each $widthId, $widthValue in $-gridWidths {
		%-gridWidth-#{$widthId}-#{$suffix} {
			width: -floorDecimals($widthValue, 3);
		}
	}

	@each $columnCount in map-get($config, 'columns') {
		@for $column from 1 to $columnCount + 1 {
			[#{$prefix}grid~="#{$column}/#{$columnCount}#{$suffix}"] {
				@include -gridWidthHelper(100% / $columnCount * $column, $suffix);
			}
		}
	}

    // Special 'auto' grid item
    [#{$prefix}grid~="auto#{$suffix}"] {
        width: auto;
    }
}

@include -helperGenerator($-helper-layout-grid, true);
