/*===============================================================*\
    LAYOUT: gutters for child elements
\*===============================================================*/

@mixin -helper($config, $prefix, $suffix) {
    @if ($suffix == '' and map_get($config, 'gutterType') == 'border') {
        [#{$prefix}gutter] {
            > * {
                border: 0 solid transparent;
            }
        }
    }

    @each $id, $value in map_get($config, 'generate') {
        // Vertical (v)
        [#{$prefix}gutter~="a:#{$id}#{$suffix}"],
        [#{$prefix}gutter~="v:#{$id}#{$suffix}"] {
            margin-top: -$value;

            > * {
                @if (map_get($config, 'gutterType') == 'border') {
                    border-top-width: $value;
                }
                @if (map_get($config, 'gutterType') == 'padding') {
                    padding-top: $value;
                }
            }
        }

        // Horizontal (h)
        [#{$prefix}gutter~="a:#{$id}#{$suffix}"],
        [#{$prefix}gutter~="h:#{$id}#{$suffix}"] {
            margin-left: -$value;

            > * {
                @if (map_get($config, 'gutterType') == 'border') {
                    border-left-width: $value;
                }
                @if (map_get($config, 'gutterType') == 'padding') {
                    padding-left: $value;
                }
            }
        }
    }

    // Gutter divider
    @if (map_get($config, 'generateDividers')) {
        [#{$prefix}gutter-divider] {
            flex-shrink: 0;
            align-self: stretch;

            @if (map_get($config, 'gutterType') == 'border') {
                border: none;
            }
            @if (map_get($config, 'gutterType') == 'padding') {
                padding: 0;
            }
        }

        @each $id, $data in map_get($config, 'generateDividers') {
            [#{$prefix}gutter-divider~="theme:#{$id}#{$suffix}"] {
                width: nth($data, 1);
                background: nth($data, 2);

                @each $id, $gutter-value in map_get($config, 'generate') {
                    [#{$prefix}gutter~="a:#{$id}#{$suffix}"] &,
                    [#{$prefix}gutter~="h:#{$id}#{$suffix}"] & {
                        transform: translateX(calc(#{$gutter-value} / 2));
                    }
                }
            }
        }
    }

    //[#{$prefix}gutter*="divider:"] {
    //    overflow: hidden;
    //
    //    > * {
    //        position: relative;
    //
    //        &:before {
    //        	content: '';
    //            display: block;
    //            position: absolute;
    //            top: 0;
    //            bottom: 0;
    //            transform: translateX(-50%);
    //        }
    //    }
    //}
    //
    //@each $divider-id, $divider-data in map_get($config, 'generateDividers') {
    //    [#{$prefix}gutter~="divider:#{$divider-id}#{$suffix}"] {
    //        > * {
    //            &:before {
    //                width: nth($divider-data, 1);
    //                background: nth($divider-data, 2);
    //            }
    //        }
    //
    //        @each $id, $value in map_get($config, 'generate') {
    //            &[#{$prefix}gutter~="a:#{$id}#{$suffix}"],
    //            &[#{$prefix}gutter~="h:#{$id}#{$suffix}"] {
    //                > * {
    //                    &:before {
    //                        @if (map_get($config, 'gutterType') == 'border') {
    //                            left: -($value / 2);
    //                        }
    //                        @if (map_get($config, 'gutterType') == 'padding') {
    //                            left: $value / 2;
    //                        }
    //                    }
    //                }
    //            }
    //        }
    //    }
    //}
}

@include -helperGenerator($-helper-layout-gutter, true);
